# Settings
config.mk

# Vim junk
*~
*.swp

# Android junk
bin/
gen/
obj/

# Leave out cards for now
opt/drawable/*.svg
opt/drawable/*.xcf
res/drawable/*.png
res/drawable/*.jpg

# Android studio
.idea
.gradle
build.gradle
build
gradle
gradlew
gradlew.bat
local.properties

